.regis-child{
    text-align: center;
    background-color: azure;
    
    padding: 10px;
    box-shadow: 0 0 5px;
}

input{
    padding: 5px 5px;
    margin-bottom: 10px;
}

.regis-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}


h1{
    text-align: center;
    margin-top: 40px;
}


button{
    background-color: burlywood;
    padding: 5px 10px;
    border-radius: 50px;
}